OPENAI_API_KEY=
OPENAI_BUDGET_MODEL=gpt-4.1-mini
OPENAI_TRANSCRIBE_MODEL=whisper-1
VITE_SUPABASE_URL=https://yxemeumvncwtdchypegj.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_9lpsma0o77jVoiftsU2IbA_CxsAOqVq
SUPABASE_URL=https://yxemeumvncwtdchypegj.supabase.co/rest/v1/
SUPABASE_ANON_KEY=sb_publishable_9lpsma0o77jVoiftsU2IbA_CxsAOqVq
